body {
  background-color: wheat;
}
.card-box {
  text-align: center;
  border: 1px solid rgb(214, 24, 24);
  margin: 100px 500px;
  border-radius: 7px;
  padding: 30px;
}
#circle {
  margin: auto;
  background: rgb(214, 24, 24) !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#circle2 {
  margin: auto;
  background: rgb(13, 79, 247) !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
